@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  background-color: #FFFFFF;
}
.box {
    width: 80%;
    position: absolute;
    margin-top: -450px;
  overflow: auto;
}
#main {
 width: 100%;
 padding: 0;
}
.content-asset p {
 margin: 0 auto;
}
.breadcrumb {
 display: none;
}
.margin-top-10 {
 padding-top: 10px;
}
.margin-bot-10 {
 padding-bottom: 10px;
}
#flat h1 {
 font-family: 'Oswald', sans-serif;
 font-size: 24px;
 font-weight: 400;
 text-transform: uppercase;
 color: black;
 padding: 0;
 margin: 0;
}

#flat h2 {
 font-family: 'Oswald', sans-serif;
 font-size: 70px;
 letter-spacing: 10px;
 text-align: center;
 color: white;
 font-weight: 400;
 text-transform: uppercase;
 z-index: 10;
 opacity: .9;
}

#flat h3 {
 font-family: 'Oswald', sans-serif;
 font-size: 14px;
 line-height: 0;
 font-weight: 400;
 letter-spacing: 8px;
 text-transform: uppercase;
 color: black;
}
#flat p {
 font-family: 'Source Sans Pro', sans-serif;
 font-weight: 400;
 font-size: 14px;
 line-height: 24px;
}
.first-character {
 font-weight: 400;
 float: left;
 font-size: 84px;
 line-height: 64px;
 padding-top: 4px;
 padding-right: 8px;
 padding-left: 3px;
 font-family: 'Source Sans Pro', sans-serif;
}
.letter-1 {
  color: #87CEFA; 
  font-family: 'Montserrat', sans-serif;
}

.letter-2 {
  color: #00BFFF;
  font-family: 'Montserrat', sans-serif;
}

.letter-3 {
  color: #1E90FF; 
  font-family: 'Montserrat', sans-serif;
}
#flat .title {
 background: white;
 padding: 60px;
 margin: 0 auto;
 text-align: center;
}

#flat .title h1 {
 font-size: 35px;
 letter-spacing: 8px;
}
#flat .block {
 background: white;
 padding: 6px;
 width: 820px;
 margin: 0 auto;
 text-align: justify;
}

#flat .block-gray {
 background: #f2f2f2;
 padding: 6px;
}
#flat .section-overlay-mask {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: black;
 opacity: 0.70;
}
#flat .parallax-one {
 padding-top: 200px;
 padding-bottom: 200px;
 overflow: hidden;
 position: relative;
 width: 100%;
 background-image: url("https://raw.githubusercontent.com/yusupovadiana/Design/refs/heads/main/iW_p7XvUnEYNIDc0D8vSrvN0fShmMGtzrcFmoBGB1eZzaNo9Cs9K5QwZb31DLCeRDi9lUZnnFyVxnjguGeyU6LkkChCA6E41EG-1B2SLNOGDv7DEAvRK-EJSxUrkOmwfzCf6iqOLDrz0nGtgVzvzO2jwj-DPY2N37e9VT7DcCFs5R5DEfNAcXRvfKauNRDnU.jpg");
 background-attachment: fixed;
 background-size: cover;
 -moz-background-size: cover;
 -webkit-background-size: cover;
 background-repeat: no-repeat;
 background-position: top center;
}
#flat .parallax-one {
 padding-top: 200px;
 padding-bottom: 200px;
 overflow: hidden;
 position: relative;
 width: 100%;
 background-image: url("https://raw.githubusercontent.com/yusupovadiana/Design/refs/heads/main/KE9PUE-dN9aLSxLy3J9KNLs9tnsRb1mW2liP3EzmYqaIeT7Q9PHg2DBTRqlTsXH0obo_g21vqDbI04oAovBf95jtw5ngMfzK5ZCc7EJMNLtFXcQWmu879XTxjEY9MtrybCdjw4whaLKxQvicu82ePGORh_djDYGL7ibQY_QPew6rxG0CsC7U4JJudsGGY0Qv.jpg");
 background-attachment: fixed;
 background-size: cover;
 -moz-background-size: cover;
 -webkit-background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
}
#flat .parallax-one {
 padding-top: 200px;
 padding-bottom: 200px;
 overflow: hidden;
 position: relative;
 width: 100%;
 background-image: url("https://raw.githubusercontent.com/yusupovadiana/Design/refs/heads/main/FQNzlHXjB374luhSK8h3Wgb0IpYd5nSFnSaDV0otrOQLxcTiigyZSRTAIbw13lAEtV-tne-d3ddKTvsvwPufN8f2c-iLY0SrFChmpzQgVEa2XpKCfjy0T7BlHb7Yve-Gc1oHfH2Ho75c6l_d3z_0QjHUk6tP9JYKYrwE4bO5WDU.jpg");
 background-attachment: fixed;
 background-size: cover;
 -moz-background-size: cover;
 -webkit-background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
}
#flat .line-break {
 background: linear-gradient(60deg, #FFC0CB, #FFB6C1, #DB7093);
 width: 100%;
 margin: 0 auto;
}
@media screen and (max-width: 959px) and (min-width: 768px) {
 #flat .block {
  padding: 40px;
  width: 620px;
 }
}
@media screen and (max-width: 767px) {
 #flat .block {
  padding: 30px;
  width: 420px;
 }
 #flat h2 {
  font-size: 30px;
 }
 #flat .block {
  padding: 30px;
 }
 #flat .parallax-one, #flat .parallax-two, #flat .parallax-three {
  padding-top: 100px;
  padding-bottom: 100px;
 }
}
@media screen and (max-width: 479px) {
 #flat .block {
  padding: 30px 15px;
  width: 290px;
 }
}

